


h2{ color: skyblue; }
h1{ color: darkblue; }
.bgc{
	background-color: black;
}
.border{ border:5px solid black; }

.header{
	height: 100px;
	background-color: maroon;
}
.container{
	overflow: hidden;
}
.blog{
	float: left;
	width: 60%;
	height: 150px;
	background-color: teal;
}
.contact{
	float: right;
	width: 40%;
	height: 150px;
	background-color: deepskyblue;

}

.container2{
	overflow: hidden;
}
.item1{
	float: left;
	width: 33.33%;
	height: 100px;
	background-color: navy;
}
.item2{
	float: left;
	width: 33.33%;
	height: 100px;
	background-color: bisque;

}
.item3{
	float: left;
	width: 33.33%;
	height: 100px;
	background-color: sienna;
}

.container3{
	overflow: hidden;
}
.clr1{
	float: left;
	width: 25%;
	height: 100px;
	background-color: darkgray;
}
.clr2{
	float: left;
	width: 25%;
	height: 100px;
	background-color: firebrick;
}
.clr3{
	float: left;
	width: 25%;
	height: 100px;
	background-color: lightblue;
}
.clr4{
	float: left;
	width: 25%;
	height: 100px;
	background-color: palegreen;
}
.footer{

	height: 150px;
	background-color: yellow;
}